*{
   box-sizing: border-box;
   padding: 0;
   background-color: transparent;
}
body{
    padding: 0;
    margin: 0;
}

.container{
    margin: auto;
    max-width: 1440px;
    /* overflow-x: hidden; */
}